body {
    margin:0;border:0;padding:0;
    font-family:monospace;
    background: #fff;
    color: #000;
    text-align: center;
}
a:link, a:visited{
    text-decoration: none;
}
a:hover, a:active{
    text-decoration: underline;
}
div#wrapper{
    display:table;
    width:100%;
    height:100%;
}
div#content{
    display:table-cell;vertical-align:middle;
    background-image: url('wplogoreduced.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height:100%;
    }
span#header, span#footer {
    font-size:350%;
    font-weight:bold;
    }
span#counter {
    font-size:1000%;
    font-weight:bold;
    }
p#upper-left, p#upper-right {
    position:absolute;
    margin:0;border:0;padding:0;
    top:10px;
}
p#upper-left {
    left:10px;
    text-align:left;
}
p#upper-right{
    right:10px;
    text-align:right;
}
p#donate, p#author, p#f11 {
    position:absolute;
    margin:0;border:0;padding:0;
    bottom:10px;
    }
p#donate {
    left:10px;
    display:none;
    }
p#author {
    right:10px;
    display:none;
    }
p#f11 {
    left:50%;
    width:40em;
    margin-left:-20em;
    text-align:center;
    bottom:30;
    display:none;
    }
